body{
    background-color: black;
    color:#333333;
    font-family:arial;
    max-width:650px;
    margin:0 auto;
    padding:0 16px;

    display:flex;
    flex-direction:column;
    min-height:100vh;
}
.main-content{
    flex-grow:1;
}
p{
    font-size:20px;
    color:#62D2A2;
}
footer{
    color:#888888;
    border-top:1px solid #eeeeee;
    margin-top:16px;
    padding:16pxpx 0;
}
header{
    margin-top:16px;
    margin-bottom:40px;
}
h1{
    font-style: serif;
    font-size:64px;
    color:#62D2A2;
    margin-bottom:16px;
}
header a{
    font-size:30px;
    color:#88304E;
    margin-right:16px;
    text-decoration: none;
    padding-right: 40px;
}
.portrait{
    width:250px;
}
input{
    border:1px solid #cccccc;
    padding:8px;
}
button{
    cursor:pointer;
    border:1px solid #888888;
    background:#888888;
    color:white;
    padding:8px;
}
